<div class="container mt-2">
  <div class="row col-lg-12">
      <div class="col-lg-8 col-12 order-2 order-lg-1">
          <h4 class="mb-4 text-primary fw-bold text-center">🛒 إضافة منتج جديد</h4>

          <div class="border border-1 p-1 rounded">
            <div>
              <input id="ByAllSku" type="radio" checked value="AllSKU" name="SearhBySku" (change)="ChangeView($event)"/>
              <label for="ByAllSku">
                &nbsp; Search by SKU
              </label>
            </div>
            <div>
              <input id="Bylast4digits" type="radio" value="Last4digits" name="SearhBySku" (change)="ChangeView($event)"/>
              <label for="Bylast4digits">
                &nbsp; Search by last 4 digits
              </label>
            </div>
          </div>
<!-- ////////////////////////////////////////////////////////////////////////////////////// -->
  <div *ngIf="LastFourDigits" class="form-group d-flex flex-column align-items-center text-center p-3 shadow-lg rounded bg-light">
    <label *ngIf="!FieldFirstGet" class="mb-2 fw-bold fs-5 text-primary">Last 4 digits</label>
    <div class="input-group w-100">
        <input type="text" [(ngModel)]="sku" class="form-control border-primary shadow-sm" placeholder="أدخل اخر اربع ارقام">
        <button class="btn btn-info text-white ml-2 fw-bold shadow-sm" (click)="searchAboutItem()">🔍 بحث</button>
        <button class="btn btn-info text-white ml-2 fw-bold shadow-sm" (click)="GoToSheIn()">SheIn اذهب الى</button>

    </div>
    <div *ngIf="isLoading" class="loading-indicator m-1 p-2">
      <i class="fas fa-spinner fa-spin"></i> 
      <span>&nbsp;</span>
      <span>جاري البحث</span>
    </div> 
    <div *ngIf="ErrorGit" class="loading-indicator m-1 p-2">
      <span>&nbsp;</span>
      <span class="text-danger fs-3 bg-light p-2">تعذر جلب البيانات</span>
    </div> 
</div>
<!-- //////////////////////////////////////////////////////////////////////////////////////////////// -->
          <div *ngIf="!LastFourDigits" class="form-group d-flex flex-column align-items-center text-center p-3 shadow-lg rounded bg-light">
              <label *ngIf="!FieldFirstGet" class="mb-2 fw-bold fs-5 text-primary">📌 SKU</label>
              <label *ngIf="FieldFirstGet" class="mb-2 fw-bold fs-5 text-primary">الرابط النهائي</label>
              <div class="input-group w-100">
                  <input type="text" [(ngModel)]="sku" class="form-control border-primary shadow-sm" placeholder="أدخل SKU">
                  <button class="btn btn-info text-white ml-2 fw-bold shadow-sm" (click)="searchAboutItemBySKU()">🔍 بحث</button>
                  <button class="btn btn-primary ml-1"  (click)="goToExternalLink()">اذهب إلى الرابط</button>
              </div>
              <div *ngIf="isLoading" class="loading-indicator m-1 p-2">
                <i class="fas fa-spinner fa-spin"></i> 
                <span>&nbsp;</span>
                <span>جاري البحث</span>
              </div> 
              <div *ngIf="ErrorGit" class="loading-indicator m-1 p-2">
                <span>&nbsp;</span>
                <span class="text-danger fs-3 bg-light p-2">تعذر جلب صورة وسعر المنتج</span>
              </div> 
              <!-- <div *ngIf="FieldFirstGet" class="input-group w-100 mt-1">
                <input type="text" [(ngModel)]="finalUrl" class="form-control border-primary shadow-sm" placeholder="أدخل الرابط النهائي">
                <button class="btn btn-info text-white ml-2 fw-bold shadow-sm" (click)="SearchInFinalUrl()">بحث</button>
            </div> -->
              <div *ngIf="!validSku" class="loading-indicator m-1 p-2">
                <span> يرجى ادخال رقم منتج صالح</span>
              </div>         
          </div>



<!-- //////////////////////////////////////////////////////////////////////////////////////////////// -->


          <div class="form-check mt-3">
                <input (change)="ShowDropss($event)" class="form-check-input" type="checkbox" id="available">
                <label class="form-check-label text-secondary fw-bold" for="available">منتج عام</label>
          </div>

          <div [ngClass]="{'visiblity': !showDropDowns}" class="mt-3">
            <label class="text-secondary fw-bold">UPC</label>
            <input [(ngModel)]="UPC" class="form-control" type="text">
          </div>

          <div [ngClass]="{'visiblity': !showDropDowns}" class="form-group mt-3">
              <label class="fw-bold text-secondary">📂 الفئة</label>
              <select [(ngModel)]="categoryId" class="form-control border-primary shadow-sm" (change)="onCategoryChange($event)">
                <option></option>
                  <option *ngFor="let category of Categories" [value]="category.categoryId">
                      {{ category.categoryName }}
                  </option>
              </select>
          </div>

          <div [ngClass]="{'visiblity': !showDropDowns}" class="form-group mt-3">
              <label class="fw-bold text-secondary">📁 الفئة الفرعية</label>
              <select class="form-control border-primary shadow-sm">
                <option></option>

                  <option *ngFor="let sub of subCategory" [value]="sub.categoryId">
                      {{ sub.categoryName }}
                  </option>
              </select>
          </div>

          <div [ngClass]="{'visiblity': !showDropDowns}" class="form-group mt-3">
            <label class="fw-bold text-secondary">📏 المقاس</label>
              <select class="form-control border-primary shadow-sm" [(ngModel)]="SizeId" (change)="onSizeChange($event)">
                <option></option>
                  <option *ngFor="let s of size" [value]="s.id">
                      {{ s.description }}
                  </option>
              </select>
          </div>

          <div [ngClass]="{'visiblity': !showDropDowns}" class="mt-3">
            <label class="text-secondary fw-bold">سعر المنتج</label>
            <input [(ngModel)]="WebsitePrice" class="form-control" type="text">
          </div>
          <div [ngClass]="{'visiblity': !showDropDowns}" class="mt-3">
            <label class="text-secondary fw-bold">رابط الصورة</label>
            <input [(ngModel)]="imgUrl" class="form-control mb-3" placeholder="" />
          </div>

          <div [ngClass]="{'visiblity': !showDropDowns}" class="form-group mt-3">
            <label class="fw-bold text-secondary">اسم التاجر</label>
            <select class="form-control border-primary shadow-sm" (change)="onMerchantChange($event)">
                <option></option>
                <option *ngFor="let merchant of Merchants" [value]="merchant.merchantId">
                    {{ merchant.merchantName }}
                </option>
            </select>
        </div>

          <div class="text-center mt-4">
              <button class="btn btn-success fw-bold px-4 py-2 shadow-lg w-100" (click)="SaveItemInStore()">💾 حفظ</button>
          </div>
      </div>
      <div class="col-lg-4 order-lg-2 d-flex flex-column align-items-center">
        <div class="col-lg-11 col-12 order-1 order-lg-3 d-flex flex-column align-items-center justify-content-center mt-4 mt-lg-0">
            <div class="shadow-lg rounded border p-3 bg-white text-center w-100" style="max-width: 400px;">
                <img (click)="openModal()" [src]="imgUrl" alt="صورة المنتج" class="img-fluid rounded shadow mb-3" style="width: 100%; max-height: 500px;">
                <p *ngIf="LastFourDigits">Quantity: {{ Count }}</p>
                <textarea *ngIf="!LastFourDigits" class="form-control mt-1" [(ngModel)]="html" ></textarea>
                <button *ngIf="!LastFourDigits" class="btn btn-primary w-100  mt-1"  (click)="GetInfoLocaly()">استخراج البيانات</button>
            </div>
        </div>
        
    </div>
  </div>
</div>


<div class="modal-backdrop" *ngIf="isModalOpen" (click)="closeModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <span class="close-button" (click)="closeModal()">&times;</span>
    <img [src]="imgUrl" class="modal-image" />
  </div>
</div>