<div class="d-flex flex-column justify-content-center align-items-start border border-2 p-2 mb-3">
  <div>
    <input type="radio" name="search" value="byDate" (change)="ShowDialog($event)"/> &nbsp;
    <label>البحث بتاريخ</label>
  </div>
    <div>
      <input type="radio" name="search" value="byNum" (change)="ShowDialog($event)"/>&nbsp;
    <label>البحث بواسطة رقم طلب</label>
  </div>
</div>


<div *ngIf="!SearchByOrderNo" class="d-flex flex-column align-items-center mb-4">
    <h3 class="mb-4">أختر التاريخ للبحث</h3>
    <div class="d-flex flex-column align-items-center">
        <input class="form-control mb-4" type="text" [(ngModel)]="today">
        <button (click)="search()" class="btn- btn-warning rounded p-2">بحث</button>
        <div *ngIf="isLoading" class="mt-3 text-center">
        <div class="spinner-border text-primary" role="status"></div>
        <div class="mt-2 fw-bold">جارٍ البحث...</div>
  </div>
    </div>
</div>
<div *ngIf="SearchByOrderNo" class="d-flex flex-column align-items-center mb-4">
    <h3 class="mb-4">ادخل رقم الطلب</h3>
    <div class="d-flex flex-column align-items-center">
        <input class="form-control mb-4" type="text" [(ngModel)]="orderNum">
        <button (click)="search()" class="btn- btn-warning rounded p-2">بحث</button>
        <div *ngIf="isLoading" class="mt-3 text-center">
        <div class="spinner-border text-primary" role="status"></div>
        <div class="mt-2 fw-bold">جارٍ البحث...</div>
  </div>
    </div>
</div>

<table class="custom-table">
  <thead>
    <tr>
      <th>رقم الطلب</th>
      <th>تاريخ الطلب</th>
      <th>SKU</th>
      <th>Old SKU</th>
      <th>Web Url</th>
      <th>تعديل</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orders">
        <td>{{ order.orderNo }}</td>
        <td>{{ order.order.orderDt }}</td>
        <td>{{ order.item.pCode }}</td>
        <td>{{ order.item.oldCode }}</td>
        <td style="max-width: 200px; overflow: hidden; padding: 5px; white-space: nowrap; text-overflow: ellipsis;">
            <a href="{{order.item.webUrl}}" target="_blank">{{ order.item.webUrl }}</a>
        </td>
        <td class="text-center m-1" style="max-width: 200px;">
            <div class="d-flex align-items-center justify-content-center">
                <input type="text" class="form-control me-2"
                    #newCodeInpu  
                    placeholder="أدخل الكود الجديد">
                <button class="btn btn-outline-success ms-1"
                    (click)="fixSheInCode(order, newCodeInpu)">
                    تعديل
                </button>
            </div>
        </td>
    </tr>
  </tbody>
</table>
